/* ===== RESET ===== */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}

body{
  min-height:100vh;
  background:#FFEBD2; /* crema suave */
  color:#4B2E1A;       /* marrón oscuro */
}

/* ===== NAV ===== */
.nav{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:18px 60px;
  background:#F5D1A6;   /* barra superior pastel */
  border-bottom:2px solid #E4B88A;
}

.logo{
  width:42px;
  height:42px;
  border-radius:8px;
  background:#4B2E1A;
  color:#FFEBD2;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:800;
}

.nav-center a{
  color:#4B2E1A;
  text-decoration:none;
  margin:0 12px;
  font-weight:600;
  position:relative;
}

.nav-center a::after{
  content:"";
  position:absolute;
  width:0;
  height:2px;
  background:#B55F24;
  left:0;
  bottom:-4px;
  transition:.3s;
}
.nav-center a:hover::after,
.nav-center a.active::after{
  width:100%;
}

/* ===== HERO ===== */
.hero{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:60px 80px;
  gap:40px;
}

/* IZQUIERDA */
.hero-text{
  flex:0 0 45%;
}

.tag{
  font-size:13px;
  font-weight:700;
  color:#B55F24;
  margin-bottom:10px;
}

.hero-title{
  font-size:32px;
  font-weight:700;
  line-height:1.3;
  margin-bottom:14px;
}

.hero-sub{
  line-height:1.6;
  color:#5A4030;
  margin-bottom:20px;
}

.hero-list{
  margin-left:20px;
  margin-bottom:20px;
  color:#4B2E1A;
  line-height:1.6;
}

.hero-btn-main{
  background:#B55F24;
  color:#FFEBD2;
  padding:12px 26px;
  border:none;
  border-radius:999px;
  font-weight:700;
  cursor:pointer;
  margin-bottom:10px;
}

.hero-btn-main:hover{
  background:#D16E2C;
}

/* ===== IMÁGENES DERECHA ===== */
.hero-visual{
  position:relative;
  flex:0 0 48%;
  height:380px;
  background:#F5D1A6;
  border-radius:22px;
  overflow:hidden;
  box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

.rotating-img{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
  opacity:0;
  transition:opacity 1s;
}
.rotating-img.active{
  opacity:1;
}

/* TARJETA */
.stat-card{
  position:absolute;
  bottom:20px;
  left:20px;
  background:#4B2E1A;
  color:#FFEBD2;
  padding:12px 16px;
  border-radius:16px;
}
.stat-label{
  font-size:11px;
  opacity:.8;
}
.stat-main{
  font-size:17px;
  font-weight:700;
}
.stat-sub{
  font-size:12px;
  opacity:.9;
}
