body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FFF2ED;
    color: #333;
}

/* Pantallas */
.screen {
    display: none;
    padding: 20px;
}
.active {
    display: block;
}

/* Tarjetas */
.card {
    background: #fff;
    border-radius: 18px;
    padding: 18px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
}

.title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #FF8A71;
}

/* Botón */
.btn {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #FFB6A4;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}
.btn:hover {
    opacity: 0.9;
}

/* Métodos de pago */
.payment-option {
    padding: 15px;
    background: #fff;
    border-radius: 15px;
    margin-bottom: 12px;
    cursor: pointer;
    border: 2px solid transparent;
}
.payment-option.selected {
    border-color: #FFB6A4;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Toast */
.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFB6A4;
    color: white;
    padding: 15px 25px;
    border-radius: 12px;
    font-weight: 600;
    display: none;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}
