body {


    margin: 0;
    padding:0;
    width:100%;
}
header {



    background-color: #F3D3B4;
    display:flex;
    justify-content: center;

}

.TituloPagina{


    font-size: 48px;
}


nav {

    background-color: #FEE7D1;
    display:flex;
}


nav2 {



   background-color: #FFB68B;
   display:flex;
   position:sticky;
   top:0;
}



footer {

    background-color: #95674C;
    display:flex;
    margin:0;
    height: 200px;
    justify-content: center;
}

.ActividadReciente{


    margin-left: 200px;
    margin-right: 40px;
    position:relative;

    margin-top:30px;

}

.AdministracionTarea{



    margin-left:800px;
    margin-top:30px;
    position:relative;
}
.ComidasRecomendadas{



   margin-top:800px;
   position:relative;
   right:580px;

}

.InformacionComida{




    margin-left:350px;
    margin-right:80px;

}




.PlanificacionMeta{



    margin-right:80px;
}

.Recomendaciones{


    margin-right:80px;
}

.YendoMenu{

    
   width:150px;
   height: 150px;
   margin-right: 20px;

}




.NutriwebImagen{

   width:150px;
   height: 145px;

}

sectionimage
{
   
  margin:0;
  display:flex;

}

section {


 background-color: #FFEACB;
 margin:0;
 overflow: hidden;
}


.informacionPortada{

    width: 100%;
    height:700px;
    margin:0;

} 
.miniTitulos{



    display:flex;
    gap:20px;
}

.clearfix{

    clear:both;
}
.Alimentos{



    margin-left: 200px;
    margin-right: 600px;
}

.TituloRegistrar{


    margin-left:10px;
}
.cuadros{


    display:flex;
    
}

.cuadro1{

    margin-top: 50px;
    margin-left:30px;
    width:700px;
    height:300px;
    background-color: #F3D3B4;
    overflow: auto;
}


.cuadro2{


    margin-top: 50px;
    margin-left:30px;
    width:700px;
    height:300px;
    background-color: #F3D3B4;
    overflow: auto;


}

.Buscador{

   justify-content: center;
   display:flex;
}



.Buscador input[type=text]{

     width: 500px;
     font-size: 24px;
    


}


.ImagenDescripcion{


    display:flex;
}


.CuadroImagenes{

    margin-top: 50px;
    margin-left:30px;
    width:700px;
    height:300px;
    background-color: #F3D3B4;
    overflow: auto;


}

.TituloRegistrarComida{



    margin-top: 70px;
    font-size: 64px;
}

.lista-alimentos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 150px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card p {
  margin-top: 5px;
  font-weight: bold;
}

.info-alimento {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.alimento-detalle {
  text-align: center;
}

.alimento-detalle img {
  width: 250px;
  border-radius: 15px;
}

.alimento-detalle h1 {
  margin-top: 10px;
  font-size: 32px;
}
.registrar-btn {
  margin: 20px auto;
  display: block;
  padding: 12px 20px;
  background-color: #95674C;
  border: none;

  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

