body {


    margin: 0;
}
header {



    background-color: #F3D3B4;
    display:flex;
    justify-content: center;

}

.TituloPagina{


    font-size: 48px;
}


nav {

    background-color: #FEE7D1;
    display:flex;
}


nav2 {



   background-color: #FFB68B;
   display:flex;
   position:sticky;
   top:0;
}



footer {

    background-color: #95674C;
    display:flex;
    margin:0;
    height: 200px;
    justify-content: center;
}

.CrearMeta{


    margin-left: 100px;
    margin-right: 40px;
    position:relative;

    margin-top:30px;

}

.AdministracionTarea{



    margin-left:800px;
    margin-top:30px;
    position:relative;
}


.InformacionComida{




    margin-left:350px;
    margin-right:80px;

}




.PlanificacionMeta{



    margin-right:80px;
}

.Recomendaciones{


    margin-right:80px;
}

.YendoMenu{

    
   width:150px;
   height: 150px;
   margin-right: 20px;

}




.NutriwebImagen{

   width:150px;
   height: 145px;

}

sectionimage
{
   
  margin:0;
  display:flex;

}

section {


 background-color: #FFEACB;
 overflow: hidden;

}


.informacionPortada{

    width: 100%;
    height:700px;
    margin:0;

} 

.Espacio1{


    
    display:flex;
}


.EspacioCuadros{

    display:flex;
}

.Cuadro1{


    margin-top: 50px;
    margin-left:30px;
    width:700px;
    height:300px;
    background-color: #F3D3B4;
    overflow: auto;
}

.Cuadro2{


    margin-top: 50px;
    margin-left:30px;
    width:700px;
    height:300px;
    background-color: #F3D3B4;
    overflow: auto;
}

.EspacioPresupuesto{



    display:flex;
    justify-content: center;
}

.TextoPresupuesto{
    margin-top:100px;
    width: 300px;
    height: 200px;
    overflow:auto;
    margin-right:100px;

}
.usuarioNombre{


    margin-top:80px;
    margin-left: 300px;
}


.botonNotificacion{


   position: relative;

   left:300px;
   top:40px;
}
#panelNotificaciones {
    position: absolute;
    top: 100px; /* Ajusta según el alto de tu nav */
    right: 20px;
    width: 280px;
    background: #47F4AC;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    z-index: 999;
    transition: 0.3s ease;
}

.panel-hidden {
    opacity: 0;
    pointer-events: none; /* No permite click cuando está oculto */
    transform: translateY(-10px);
}

.panel-visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}
.botonNotificacion:hover {
    background-color: #FFF4E4; /* color solicitado */
    cursor: pointer;
    transform: scale(1.03);
    width: 150px;
    height: 40px;
    border-radius: 15%;
}